# Dependências
node_modules/
package-lock.json
yarn.lock

# Build
dist/
build/

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Ambiente
.env
.env.local
